<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chs.circlepost.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chs.circlepost.model.po.User">
        <id column="id" property="id" />
        <result column="sex" property="sex" />
        <result column="nickname" property="nickname" />
        <result column="signature" property="signature" />
        <result column="place" property="place" />
        <result column="graduate_year" property="graduateYear" />
        <result column="background" property="background" />
        <result column="major_id" property="majorId" />
        <result column="school_id" property="schoolId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sex, nickname, signature, place, graduate_year, background, major_id, school_id, create_time, update_time
    </sql>

</mapper>
