<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chs.circlepost.mapper.UserCommentPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chs.circlepost.model.po.UserCommentPost">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="content" property="content" />
        <result column="comment_id" property="commentId" />
        <result column="comment_time" property="commentTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, post_id, content, comment_id, comment_time
    </sql>

</mapper>
